.separator {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.line {
  height: 0.25vh;
  width: 100%;
  background-color: var(--off-white);
}

.separator img {
  height: 10vh;
  aspect-ratio: 1/1;
  background-color: var(--blue);
  border-radius: 50%;
  padding: 1.2rem;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.separator img:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: var(--off-black);
}

@media screen and (max-width: 768px) {
  .separator {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .line {
    position: absolute;
  }
  .separator img {
    z-index: 1;
    height: 9vh;
  }
}
